<?xml version="1.0"?>
<config>
    <modules>
        <Mailjet_Iframes>
            <version>2.0.1</version>
        </Mailjet_Iframes>
    </modules>
    <global>
        <helpers>
            <iframes>
                <class>Mailjet_Iframes_Helper</class>
            </iframes>
        </helpers>
        <blocks>
            <iframes>
                <class>Mailjet_Iframes_Block</class>
            </iframes>
            <adminhtml>
                <rewrite>
                   <system_config_edit>Mailjet_Iframes_Block_Adminhtml_System_Config_Edit</system_config_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <iframes>
                <class>Mailjet_Iframes_Model</class>
                <resourceModel>mailjet_iframes_resource</resourceModel>
            </iframes>
            <mailjet_iframes_resource>
                <class>Mailjet_Iframes_Model_Resource</class>
                <entities>
                    <iframes_test>
                        <table>iframes_test</table>
                    </iframes_test>
                </entities>
            </mailjet_iframes_resource>
            <core>
                <rewrite>
                    <email_template>Mailjet_Iframes_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <events>
            <adminhtml_init_system_config>
                <observers>  
                    <display_events_tracking_url>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>displayEventsTrackingUrl</method>
                    </display_events_tracking_url>
                </observers>
            </adminhtml_init_system_config>
             <core_config_data_save_commit_after>
                <observers>  
                    <check_valid_api_key>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>checkValidApiKey</method>
                    </check_valid_api_key>
                    <test_mail>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>sendTestMail</method>
                    </test_mail>
                    <initial_sync>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>initialSync</method>
                    </initial_sync>
                </observers>
            </core_config_data_save_commit_after>
            <customer_register_success>
                <observers>
                    <customer_register>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>customerRegisterSync</method>
                    </customer_register>
                </observers>
            </customer_register_success>
            <adminhtml_customer_save_after>
                <observers>
                    <adminhtml_customer_save>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>customerSaveSync</method>
                    </adminhtml_customer_save>
                </observers>
            </adminhtml_customer_save_after>
            <customer_save_commit_after>
                <observers>
                    <customer_save>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>customerSaveSync</method>
                    </customer_save>
                </observers>
            </customer_save_commit_after> 
            <customer_delete_commit_after>
                <observers>
                    <customer_delete>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>customerDeleteSync</method>
                    </customer_delete>
                </observers>
            </customer_delete_commit_after>
<!--            <checkout_type_onepage_save_order_after>
                <observers>
                    <make_order>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>customerNewOrderSync</method>
                    </make_order>
                </observers>
            </checkout_type_onepage_save_order_after>-->
        </events>
        <resources>
            <iframes_setup>
                <setup>
                    <module>Mailjet_Iframes</module>
                    <class>Mailjet_Iframes_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iframes_setup>
            <iframes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iframes_write>
            <iframes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iframes_read>
        </resources>
    </global>   
    <frontend>
        <translate>
            <modules>
                <iframes>
                    <files>
                        <default>Mailjet_Iframes.csv</default>
                    </files>
                </iframes>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <iframes>
                <use>admin</use>
                <args>
                    <module>Mailjet_Iframes</module>
                    <frontName>iframes</frontName>
                </args>
            </iframes>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mailjet translate="title" module="iframes">
                <title>Mailjet</title> 
                <sort_order>1000</sort_order>
                <action>iframes</action>
            </mailjet>
        </menu> 
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailjetiframes_options>
                                            <title>Mailjet api/secret keys</title>
                                        </mailjetiframes_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <iframes>
                    <files>
                        <default>Mailjet_Iframes.csv</default>
                    </files>
                </iframes>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mailjetiframes_options>
            <general>
                <enabled>0</enabled>
                <test>0</test>
                <test_address />
            </general>
            <smtp>
                <host>in-v3.mailjet.com</host>
                <port>587</port>
                <login />
                <password />
                <ssl />
            </smtp>
        </mailjetiframes_options>
    </default>
</config>