<?xml version="1.0"?>
<config>
    <modules>
        <Mailjet_Iframes>
            <version>3.0</version>
        </Mailjet_Iframes>
    </modules>
    <global>
        <helpers>
            <iframes>
                <class>Mailjet_Iframes_Helper</class>
            </iframes>
        </helpers>
        <blocks>
            <iframes>
                <class>Mailjet_Iframes_Block</class>
            </iframes>
        </blocks>
        <models>
            <iframes>
                <class>Mailjet_Iframes_Model</class>
            </iframes>
            <core>
                <rewrite>
                    <email_template>Mailjet_Iframes_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <events>
            <core_config_data_save_commit_after>
                <observers>
                    <test_mail>
                        <type>singleton</type>
                        <class>Mailjet_Iframes_Model_Observer</class>
                        <method>sendTestMail</method>
                    </test_mail>
                </observers>
            </core_config_data_save_commit_after>
        </events>
        <resources>
            <iframes_setup>
                <setup>
                    <module>Mailjet_Iframes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iframes_setup>
            <iframes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iframes_write>
            <iframes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iframes_read>
        </resources>
    </global>   
    <admin>
        <routers>
            <iframes>
                <use>admin</use>
                <args>
                    <module>Mailjet_Iframes</module>
                    <frontName>iframes</frontName>
                </args>
            </iframes>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mailjet translate="title" module="iframes">
                <title>Mailjet</title> 
                <sort_order>1000</sort_order>
                <action>iframes</action>
            </mailjet>
        </menu> 
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailjetiframes_options>
                                            <title>Mailjet api/secret keys</title>
                                        </mailjetiframes_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mailjetiframes_options>
            <general>
                <enabled>0</enabled>
                <test>0</test>
                <test_address />
            </general>
            <smtp>
                <host>in-v3.mailjet.com</host>
                <port>587</port>
                <login />
                <password />
                <ssl />
            </smtp>
        </mailjetiframes_options>
    </default>
</config>