<?xml version="1.0"?>

<config>
    <tabs>
        <mailjetiframes translate="label" module="iframes">
            <label>Mailjet</label>
            <sort_order>300</sort_order>
        </mailjetiframes>
    </tabs>
    
    <sections>
        <mailjetiframes_options translate="label" module="iframes">
            <label>Settings</label>
            <tab>mailjetiframes</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <enabled translate="label,comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>If enabled, overrides standard SMTP settings</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <test translate="label,comment">
                            <label>Send test mail now</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Sender of test mail is general contact of your store</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </test>
                        <test_address translate="label">
                            <label>Recipient of test mail</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </test_address>
                    </fields>
                </general>
                
                <smtp translate="label,comment">
                    <label>API settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<b>Please enter your Mailjet login information below (<a style='color:#FF6600;' href='https://app.mailjet.com/account/api_keys' target='_blank'>Mailjet API keys</a>)</b> <br />or<br /><strong><a style='color:#FF6600;' href='https://www.mailjet.com/signup?p=magento-3.0' target='_blank'>Create your Mailjet account</a> if you don't have any.</strong>]]></comment>
                    <fields>
                        <login translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </login>
                        <password translate="label">
                            <label>Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </password>
                    </fields>
                </smtp>
                
            </groups>         
        </mailjetiframes_options>
    </sections>
</config>
